@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:ital,wght@0,600;0,700;0,800;1,500&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

body {
    margin: 1px;
}

.header-head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
}

.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.g {
    color: #ff01d993;
}

.header-title {
    padding-left: 20px;
    font-size: 40px;

}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul li {
    padding: 15px;
}

.follow-btn {
    display: flex;
    background-color: #bdb3d3;
    justify-content: space-evenly;
    align-self: center;
    width: 250px;
    border-radius: 15px;
}

.follow-icon {
    cursor: pointer;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(241, 239, 236)
}

.banner-title {
    color: black;
    font-size: 50px;
    font-weight: 600;
    margin: 10px;
}

.doted-text {
    font-size: 80px;
    font-weight: 700;
    margin: 10px;
    background: linear-gradient(180deg, #F948B2 10%, #8758F1 90%);
    /* background-clip: text; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-disc {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin: 5px 0px 5px 0px;
}

.btn-primary-1 {
    color: #FFF;
    border-radius: 1.0rem;
    background: #e20fd0a1;
    width: 110px;
    height: 35px;
    border: 0;
}

.btn-primary-2 {
    color: #FFF;
    border-radius: 1.0rem;
    background: #0ea0dfb0;
    width: 110px;
    height: 35px;
    border: 0;
    margin-top: 50px;
}

.banner-section-2 {
    display: flex;
    justify-content: space-around;
    background-color: rgb(221, 223, 226);
    align-items: center;
    margin-top: -5px;
}

.gamer-title {
    width: 580px;
    text-align: right;
}

.gamer-header {
    /* text-align: right; */
    font-size: 45px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    /* background-clip: text; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-disc {
    color: #534C64;
    /* text-align: right; */
    font-size: 15px;
    font-weight: 400;
}

.btn-primary-3 {
    color: #FFF;
    border-radius: 1.0rem;
    background: #e20fd0a1;
    width: 200px;
    height: 80px;
    border: 0;
}

.gamer-footer {
    /* text-align: right; */
    font-size: 30px;
    color: #534C64;
}

.sec-online-game {
    text-align: center;
    /* height: 200px; */
}

.online-title {
    padding-top: 30px;
    font-size: 50px;
    margin-bottom: 10px;
}

.game-title-style {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    /* background-clip: text; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-game-disc {
    color: #534C64;
    font-size: 15px;
    font-weight: 400;
}

.card-pic {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 40px 0px 40px;
}

.card-pic-dis {
    color: #534C64;
    font-size: 15px;
    width: 325px;
    height: 20px;
    text-align: center;

}

.instant-player {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 60px;
}

.instant-design {
    font-size: 45px;
    font-weight: 500;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    /* background-clip: text; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instant-title {
    text-align: right;
    font-size: 48px;
    font-weight: 400;
}

.instant-disc {
    color: #534C64;
    font-size: 15px;
    width: 325px;
    height: 20px;
    text-align: right;
}

.instant-main-pic {
    height: 480px;
    width: auto;
    border-radius: 10px;
}

.instant-corner-pic {
    margin-top: -35%;
    margin-left: -15%;
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.all-btn-main:hover {
    color: #F948B2;
    border: 2px solid palevioletred;
    cursor: pointer;
}


.all-btn-main {
    margin: 20px;
}

.bottom-main-a {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    justify-content: center;
    align-items: center;
}

.bottom-main-a button {
    background-color: #fafafabe;
    align-items: center;
    border-radius: 50px;
    border: none;
    width: 220px;
}

.all-btn-main {
    display: flex;
    justify-content: space-evenly;
}

footer {
    background-color: #02034d;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: auto;
}

.last-part {
    padding: 50px;
}

.footer-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3 {
    color: #FFF;
    font-size: 50px;
    margin: 0px;
}

footer h3 span {
    color: #F948B2;
}

footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-self: center;
}

.More-About-Us {
    color: #FFF;
}

footer ul li {
    margin: 20px;
    font-size: 20px;
    width: 120px;
    height: auto;
    margin-top: 50px;
}

footer section div a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
}

footer section div {
    text-align: center;
    color: #FFF;
}


/* responsive web for mobile */
@media screen and (max-width:576px) {
    .header-head {
        flex-direction: column;
    }

    .header-left {
        flex-direction: column;
    }

    header nav ul {
        flex-direction: column;
    }

    .banner {
        flex-direction: column;
    }

    .banner-element {
        width: 425px;
    }

    .banner-section-2 {
        flex-direction: column;
    }

    .banner-section-pic2 {
        width: 400px;
    }

    .gamer-title,
    .gamer-footer {
        text-align: center;
        width: auto;
    }

    .card-pic {
        flex-direction: column;
        padding: 0px;
    }

    .instant-player {
        flex-direction: column;
        padding: 0px;
    }

    .instant-main-pic {
        width: 400px;
        height: auto;
    }

    .instant-corner-pic {
        max-width: none !important;
        margin-left: 0px;
    }

    .bottom-main-a {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* width: 200px; */
    }

    .all-btn-main {
        margin: 1px;
        /* width: 200px; */
    }

    .More-About-Us {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0px;
    }

    footer section div a {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .last-part,
    footer {
        height: auto;
    }

    .terms {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(1, 3fr);
        align-items: center;
    }
}


/* responsive for tab */
@media screen and (min-width:576px) and (max-width:960px) {

    .banner,
    .banner-section-2 {
        flex-direction: column;
    }

    .gamer-title {
        text-align: center;
    }

    .card-pic {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        padding: 5px;
    }
    .instant-player{
        flex-direction: column;
    }
    .bottom-main-a{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .More-About-Us{
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        padding: 0px;
    }
    footer section div a  {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}